<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Kristy</title>
</head>
<body>

<h1>About Kristy</h1>
<a href="/hello">Hello</a>, welcome to my about page!

<!-- This is my first paragraph. It will talk about my academic background-->
<h2>Academic Background</h2>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">
    <p>
        I am a currently a senior studying <em>information systems and accounting</em> at UMD.
        Those are some classes I've taken in the past:
    </p>
    <!-- This is my table code-->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>ENGL101</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT110</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT230</td>
            <td>Fall 2022</td>
        </tr>
    </table>

<!--This is my second paragraph. It will talk about some of my personal interests-->
<h2>Personal Interests</h2>
    <p>
        These are some hobbies I enjoy.
    </p>
    <ul>
        <li>Listening to music</li>
        <li>Drinking milk tea</li>
        <li>Hanging out with friends</li>
    </ul>

    <p>
        These are my favorite milk tea flavors ranked.
    </p>
    <ol>
        <li>Jasmine milk tea</li>
        <li>Flower/rose milk tea</li>
        <li>Wintermelon milk tea</li>
    </ol>

    <p>
        I listen like to listen a lot of different songs so my taste varies.
        However, my favorite <em>artist</em> is <strong>Weston Estate</strong>.
        My favorite <em>song</em> by them is called <strong>Drown</strong>.
        You can listen to it on youtube <a href="https://www.youtube.com/watch?v=lhinM0cfVFU&list=RDlhinM0cfVFU&start_radio=1" target="_blank">here</a>.
        You can learn more about them through a google search <a href="https://www.google.com/search?q=weston+estate&oq=weston+estate&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQLhiABDIMCAIQIxgnGIAEGIoFMgcIAxAAGIAEMgcIBBAAGIAEMgcIBRAAGIAEMgcIBhAAGIAEMgcIBxAAGIAEMgcICBAAGIAEMgcICRAuGIAE0gEIMjEwNGowajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">here</a>.
    </p>


</body>
</html>
