{% extends "base.html" %}

{% block content %}

<h2>Contact Form</h2>

{% if submitted %}

<h3>Thank you for completing my form!</h3>

<p>First Name: {{ first_name }}</p>
<p>Last Name: {{ last_name }}</p>
<p>Email: {{ email }}</p>
<p>Message: {{ message }}</p>

{% else %}

<form method="POST">

<div class="mb-3">
<label>First Name</label>
<input type="text" name="first_name" class="form-control">
</div>

<div class="mb-3">
<label>Last Name</label>
<input type="text" name="last_name" class="form-control">
</div>

<div class="mb-3">
<label>Email Address</label>
<input type="email" name="email" class="form-control">
</div>

<div class="mb-3">
<label>Message</label>
<textarea name="message" class="form-control"></textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endif %}

{% endblock %}