{% extends "base.html" %}

{% block page_title %}Training{% endblock %}
{% block page_head %}Training Resources{% endblock %}

{% block page_content %}
<div class="container">
    <p>
        Welcome to your training for the TerpSys Student Information System.
        Training materials are currently under construction, but will be created very soon.
        Please check back soon or email
        <strong>Kristy Truong</strong> at
        <a href="mailto:ktruong6@umd.edu">ktruong6@umd.edu</a>
        if you wish to be placed on the waiting list.
    </p>
</div>
{% endblock %}